<div class="groundbar">
  <div routerLink="/summary">
    <img src="/assets/img/summary-icon.png" alt="Summary Icon" />
    <span>Summary</span>
  </div>
  <div routerLink="/board">
    <img src="/assets/img/board-icon.png" alt="Board Icon" />
    <span>Board</span>
  </div>
  <div routerLink="/add-task">
    <img src="/assets/img/add-task-icon.png" alt="Add Task Icon" />
    <span>Add Task</span>
  </div>
  <div routerLink="/contacts">
    <img src="/assets/img/contacts-icon.png" alt="Contact Icon" />
    <span>Contacts</span>
  </div>
</div>
