<div class="login-top-container">
  <img
    src="/assets/img/Capa1.png"
    alt="Join Logo"
    class="move-logo-animation"
  />
  <div
    class="sign-in-container fade-in-animation"
    id="sign-in-button-container"
  >
    <span>Not a Join user?</span>
    <button
      (click)="
        switchContainer(
          'sign-in-button-container',
          'login-container',
          'register-container'
        )
      "
    >
      Sign up
    </button>
  </div>
  <div class="height-100"></div>
</div>

<div class="position-container">
  <div
    class="login-register-fmp-container fade-in-animation"
    id="login-container"
  >
    <h1>Log in</h1>
    <div class="blue-line"></div>
    <form class="form-container mt-16">
      <label class="form-input-label">
        <input type="email" class="login-input" placeholder="Email" />
        <img src="/assets/img/mail-icon.png" alt="Mailsymbol" />
      </label>
      <label class="form-input-label">
        <input
          type="password"
          class="login-input"
          placeholder="Password"
          id="password-input"
        />
        <img
          src="/assets/img/password-dont-see-image.png"
          alt="Locksymbol"
          (click)="
            showOrHidePassword(
              'password-input',
              'show-password-image',
              'hide-password-image'
            )
          "
          id="hide-password-image"
        />
        <img
          class="d-none"
          id="show-password-image"
          src="/assets/img/password-see-image.png"
          alt="Locksymbol"
          (click)="
            showOrHidePassword(
              'password-input',
              'show-password-image',
              'hide-password-image'
            )
          "
        />
      </label>
      <div class="forgot-my-password-container">
        <input type="checkbox" />
        <span>Remember me</span>
        <span
          class="fmp-span"
          href="#"
          (click)="
            switchContainer(
              'sign-in-button-container',
              'login-container',
              'fmp-container'
            )
          "
          >Forgot my password</span
        >
      </div>
      <div class="log-in-button-container">
        <button class="user-login-button">Log in</button>
        <button class="guest-login-button">Guest Log in</button>
      </div>
    </form>
  </div>
  <app-register class="d-none" id="register-container"></app-register>
  <app-forgot-my-password
    class="d-none"
    id="fmp-container"
  ></app-forgot-my-password>
</div>
