.add-task-container {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  h1 {
    font-size: 64px;
    margin-bottom: 30px;
    font-weight: bold;
  }
}

.x-image {
  position: absolute;
  right: 30px;
  top: 30px;
  height: 20px;
  cursor: pointer;
}

.add-task-content-container {
  display: flex;
  justify-content: space-between;
}

.add-task-content-left {
  display: flex;
  flex-direction: column;
  textarea {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    width: 500px;
    resize: none;
    color: black;
    font-size: 18px;
    height: 150px;
    &::placeholder {
      font-size: 18px;
      color: #d1d1d1;
    }
    &:focus {
      outline: none;
    }
  }
}

.span-titles {
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-left: 5px;
}

.input-style {
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  font-size: 18px;
  color: black;
  height: 50px;
  width: 500px;
  &::placeholder {
    font-size: 18px;
    color: #d1d1d1;
  }
  &:focus {
    outline: none;
  }
}

.selected-inputs-style {
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  font-size: 18px;
  color: black;
  height: 50px;
  width: 500px;
  &::placeholder {
    font-size: 18px;
    color: black;
    color: #d1d1d1;
  }
  &:focus {
    outline: none;
  }
}

.add-task-content-right {
  display: flex;
  flex-direction: column;
}

.prio-container {
  display: flex;
  justify-content: space-between;
  height: 55px;
}

.subtask-input {
 &::placeholder {
  color: #D1D1D1 !important;
 }
}

.add-task-button-container {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  margin-top: 250px;
}

.cancel-button-style {
  height: 50px;
  width: 130px;
  font-size: 22px;
  border-radius: 10px;
  cursor: pointer;
  background-image: url('/assets/img/cross-icon.png');
  background-repeat: no-repeat;
  background-position: right 18px center;
  padding-right: 35px;
  &:hover {
    background-image: url('/assets/img/blue-cross.png');
  }
}

.create-task-button-style {
  border-style: unset;
  border-radius: 10px;
  cursor: pointer;
  font-size: 22px;
  height: 50px;
  width: 180px;
  padding-right: 35px;
  background-image: url('/assets/img/done.png');
  background-repeat: no-repeat;
  background-position: right 18px center;
  padding-right: 35px;
}

.vertikal-line {
  margin-top: 35px;
  height: 620px;
  width: 2px;
  background-color: #D1D1D1;
}

.input-color-container {
  position: relative;
}

.color-picker {
  position: absolute;
  right: 40px;
  top: 12px;
}


.category-color-container {
  display: flex;
  padding-left: 20px;
  gap: 15px;
  span {
    cursor: pointer;
  }
}

.category-color {
  height: 20px;
  width: 20px;
  padding: 1px;
  border: 1px solid white;
  border-radius: 50%;
}

.input-color-indicator {
  position: absolute;
  top: 15px;
  right: 25px;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
}

.input-checkbox {
  width: 15px !important;
  height: 15px !important;
  cursor: pointer;
}

.task-added-to-board {
  display: flex;
  gap: 20px;
  padding: 20px 30px;
  background-color: #2A3647;
  position: absolute;
  bottom: 0;
  left: 50%;
  color: white;
  border-radius: 15px;
  animation: slideUp 0.5s ease-in-out forwards;
  span {
    font-size: 22px;
  }
}

@keyframes slideUp {
  from {
    bottom: 0;
  }
  to {
    bottom: 150px;
  }
}

@media(max-width: 1475px){
  .selected-inputs-style {
    width: 400px;
  }
  .input-style {
    width: 400px;
  }
  textarea {
    width: 400px !important;
  }
}

@media(max-width: 1250px){
  .selected-inputs-style {
    width: 350px;
  }
  .input-style {
    width: 350px;
  }
  textarea {
    width: 350px !important;
  }
  .prio-content-style {
    width: 100px !important;
    span {
      font-size: 18px !important;
    }
  }
  .bg-urgent {
    background-position: right 5px center;
  }

  .bg-medium{
    background-position: right 5px center;
  }

  .bg-low {
    background-position: right 10px center;
  }
  .add-task-button-container {
    button {
      font-size: 20px !important;
    }
    .mobile-width-clear-button {
      width: 100px;
    }
    .mobile-width-create-task-button {
      width: 160px;
    }
}

@media(max-width: 1180px){
  .vertikal-line {
    display: none !important;
  }
}

@media(max-width: 1080px){
  .selected-inputs-style {
    width: 300px;
  }
  .input-style {
    width: 300px;
  }
  textarea {
    width: 300px !important;
  }
  .prio-container {
    justify-content: center;
    gap: 5px;
  }
  .add-task-button-container {
    gap: 5px;
  }
}
.prio-content-style {
  width: 90px !important;
}
}

@media(max-width: 1000px){
  .mobile-width-clear-button {
    display: none !important;
  }
  .mobile-width-create-task-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10000;
    height: 60px !important;
  }
  .add-task-content-container {
    flex-direction: column !important;
    align-items: center;
  }
  .add-task-container {
    padding-bottom: 100px !important;
  }
  h1 {
    text-align: center;
  }
  .selected-inputs-style {
    width: 500px;
  }
  .input-style {
    width: 500px;
  }
  textarea {
    width: 500px !important;
  }
  .add-task-content-right {
    margin-right: 20px !important;
  }
  .prio-container {
    justify-content: space-between;
  }
  .prio-content-style {
    width: 100px !important;
  }
  .add-task-button-container {
    margin: 0 !important;
  }
  .span-titles {
    margin-top: 15px !important;
  }
}

@media(max-width: 680px){
  .mobile-width-create-task-button {
    right: 5px !important;
  }
  .add-task-container {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
}

@media(max-width: 580px){
  .selected-inputs-style {
    width: 400px;
  }
  .input-style {
    width: 400px;
  }
  textarea {
    width: 400px !important;
    height: 100px !important;
  }
}

@media(max-width: 475px){
  .selected-inputs-style {
    width: 300px;
  }
  .input-style {
    width: 300px;
  }
  textarea {
    width: 300px !important;
    height: 100px !important;
  }
  .prio-content-style {
    width: 90px !important;
  }
  .mobile-width-create-task-button {
    top: 5px !important;
    height: 65px !important;
  }
}

@media(max-width: 420px){
  .add-task-content-right {
    margin-right: 0 !important;
  }
}

@media(max-width: 390px){
  .add-task-container {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .add-task-content-right {
    margin-right: 10px !important;
  }
  .selected-inputs-style {
    width: 270px;
  }
  .input-style {
    width: 270px;
  }
  textarea {
    width: 270px !important;
    height: 100px !important;
  }
  .prio-content-style {
    span {
      font-size: 16px !important;
    }
  }
}

@media(max-width: 360px){
  .add-task-content-container {
    padding-left: 20px !important;
  }
}

@media(max-width: 330px){
  .add-task-content-container {
    padding-left: 15px !important;
  }
}
