<div class="kanban-header-container">
  <span class="headline">Kanban Project Management Tool</span>
  <div class="kanban-header-profile-container">
    <img
      src="/assets/img/f-zeich-neben-profil.png"
      alt="Help About Join"
      class="help-question-image"
      routerLink="/help"
    />
    <img
      src="/assets/img/profil-photo.png"
      alt="Profile Picture"
      class="profile-picture-image"
      (click)="toggleLogout()"
    />
    <span id="logout-span" class="d-none" (click)="logoutUser()">Log out</span>
  </div>
</div>
