.contact-popup-container {
  position: absolute;
  left: 400px;
  top: 250px;
  display: flex;
}

.contact-popup-left-content {
  display: flex;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #2A3647;
  padding: 128px 40px;
  img {
    height: 75px;
    object-fit: contain;
  }
  h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 64px;
    font-weight: bold;
    color: white;
  }
  p {
    font-size: 24px;
    color: white;
    margin: 0;
    margin-bottom: 15px;
  }
}

.horizontal-line {
  height: 2px;
  width: 100px;
  background-color: #29ABE2;
}

.contact-popup-right-content {
  display: flex;
  align-items: center;
  background-color: white !important;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  gap: 56px;
  padding: 0 40px;
}

.contact-user-container {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  justify-content: center;
  background-color: #d1d1d1;
  margin-bottom: 30px;
  img {
    height: 50px;
  }
}

.contact-form-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}
